:root {
  --lime-green: hsl(0, 0%, 0%);
  --bright-cyan: hsl(246, 100%, 11%);
}
body{
    text-align:center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
    align-items: center;

  }
  
  .button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#002453;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #00266d;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #00266d;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #00266d;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#00266d;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #00266d;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #00266d;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #00266d;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .title {
    font-family: '8BIT WONDER', sans-serif;
     text-align: center;     
     padding: 10px;                    
    color: hsl(192, 41%, 61%);
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    
   }
   h2{
    margin: auto;
    text-align: center;                         
   color: hsl(192, 41%, 61%);
   margin: 50px 200px;
   font-size: 30px;
   }
   .img1{
    text-align: center;
    height: 500px;
    width: 800px;
   }
   .email{
    font-family: '8BIT WONDER', sans-serif;
    margin: auto;
    text-align: center;                         
   color: hsl(192, 41%, 61%);
   margin: 50px 200px;
   font-size: 30px;
   }
   th, td {
    border: 2px solid orange;
}
table {
  text-align: center;
  padding: auto;
  border-collapse: collapse;
  color: white;
  text-align: center;
}
#p1{
  text-align: center;
}
#P8{
  height: 400px;
    width: 600px;
    border: 3px solid rgb(0, 114, 180);

}
#div5{
  background-color: #002453;
 }
 .butao {
  margin:  0px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;

  z-index: 1;
  border-radius: 12px;
 position: absolute;
 transform: none;
 left:34%;
top: 120%;

}
.butao::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:  #002453;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* brilho */
.butao::before {
  content: "";
  background: linear-gradient(
    45deg,
    #a200ff, #af24ff , #c057fd , #cf85fa , #d18ef8 , 
    #d6a4f5, #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.butao:hover::before {
  opacity: 50;
}

.butao:active:after {
  background: transparent;
}

.butao:active {
  color: #000;
  font-weight: bold;
}
.container1 {
  display: flex;
  gap: 49px;
  padding-top: 300px;
  padding-right: 50px;

  margin: 0 auto;
  align-items: left;
  background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
  
  border-radius: 20px;
  }
  .img {
    border-radius: 10px;
    background-color: #000;
 
  }
   
  .hollow{
    height: 200px;
    width: 400px;
    position: absolute;
    transform: none;
    top: 110%;
    left: 5%;
    border-radius: 10px;
   }
   .text1 {
    font-family: '8BIT WONDER', sans-serif;
font-weight: 20px;
position: absolute;
transform: none;
left: 28%;
top: 110%;
color: #FFF;
   }

   .hollow2{
    height: 200px;
    width: 400px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: none;
   left: 50%;
  top: 110%;
  border-radius: 10px;
   }
   .text2 {
    font-family: '8BIT WONDER', sans-serif;
font-weight: 20px;
position: absolute;
transform: none;
left: 75%;
top: 110%;
color: #FFF;
   }
   .butao2 {
    margin:  0px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
  
    z-index: 1;
    border-radius: 12px;
   position: absolute;
   transform: none;
   left:80%;
  top: 120%;
  
  }
  .butao2::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #002453;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* brilho */
  .butao2::before {
    content: "";
    background: linear-gradient(
      45deg,
      #a200ff, #af24ff , #c057fd , #cf85fa , #d18ef8 , 
      #d6a4f5, #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .butao2:hover::before {
    opacity: 50;
  }
  
  .butao2:active:after {
    background: transparent;
  }
  
  .butao2:active {
    color: #000;
    font-weight: bold;
  }
   .hollow3  {
    height: 200px;
    width: 400px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: none;
   left: 50%;
  top: 90%;
  border-radius: 10px;
   }
   .hollow4  {
    height: 200px;
    width: 400px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: none;
   left: 50%;
  top: 90%;
  border-radius: 10px;
   }
   .hollow5  {
    height: 200px;
    width: 400px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: none;
   left: 50%;
  top: 90%;
  border-radius: 10px;
   }
   .hollow6  {
    height: 200px;
    width: 400px;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: none;
   left: 50%;
  top: 90%;
  border-radius: 10px;
   }
   .container2 {
    display: flex;
    gap: 49px;
    padding-top: 300px;
    padding-right: 50px;
  
    margin: 0 auto;
    align-items: left;
    background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
    
    border-radius: 20px;
    }
    .container3 {
      display: flex;
      gap: 49px;
      padding-top: 300px;
      padding-right: 50px;
    
      margin: 0 auto;
      align-items: left;
      background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
      
      border-radius: 20px;
      }
      .container4 {
        display: flex;
        gap: 49px;
        padding-top: 300px;
        padding-right: 50px;
      
        margin: 0 auto;
        align-items: left;
        background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
        
        border-radius: 20px;
        }
        .container5 {
          display: flex;
          gap: 49px;
          padding-top: 300px;
          padding-right: 50px;
        
          margin: 0 auto;
          align-items: left;
          background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan)); 
          
          border-radius: 20px;
          }
          .social-btns .btn {
            display: inline-block;
            background-color: white;
            width: 90px;
            height: 90px;
            line-height: 90px;
            margin: 10px;
            position: relative;
            overflow: hidden;
            /* VER O DEPOIS */
            border-radius: 30%;
            box-shadow: 0 5px 15px -5px #00000022;
            cursor: pointer;
          }
          
          .social-btns .btn ion-icon {
            font-size: 38px;
            vertical-align: middle;
          }
          
          .social-btns {
            height: 0px;
            margin: auto;
            font-size: 0;
            text-align: center;
            position: absolute;
         top: 270%;
            left: 0;
            background-image: linear-gradient(180deg, var(--lime-green), var(--bright-cyan));
          }
          
          .social-btns .btn ion-icon {
            color: var(--color);
          }
          
          /* BG ANTES */
          .social-btns .btn:before {
            content: '';
            position: absolute;
            width: 120%;
            height: 120%;
            background-color: var(--color);
            transform: rotate(45deg);
          }
          
          .social-btns .btn:before {
            top: 90%;
            left: -110%;
          }
          
          .social-btns .btn:focus:before,
          .social-btns .btn:hover:before {
            top: -10%;
            left: -10%;
          }
          
          .social-btns .btn:hover ion-icon {
            color: #fff;
            transform: scale(1.3);
          }
          
          .social-btns .btn,
          .social-btns .btn:before,
          .social-btns .btn ion-icon {
            transition: all 0.35s;
            transition-timing-function:
              cubic-bezier(0.31, -0.105, 0.43, 1.59);
          }